<div class="col-lg-9">

	<h1>Welcome to Matchr</h1>
	<hr>

	<p>Matcher is a free service that helps you team up for tech projects and startups near you.</p>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h2 class="panel-title">Post</h2>
	  </div>
	  <div class="panel-body">
		  <p>Help others find you by creating a profile for yourself, a tech project, and/or your startup.</p>
		  <p><a href="/users/new"><i class="fa fa-user-plus"></i><strong>&nbsp;User</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;</p>

		  <p><a href="/projects/new"><i class="fa fa-book"></i><strong>&nbsp;&nbsp;Project</strong></a></p>

		  <p><a href="/startups/new"><i class="fa fa-power-off"></i><strong>&nbsp;&nbsp;Startup</strong></a></p>
	  </div>
	</div>
	
<!--
	<div class="btn-group"> <!-- If non-mobile screen, allow hovering!>
		<button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
 			 Select a Profile Category<span class="caret"></span>
		</button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="#"><i class="fa fa-user-plus"></i><strong>&nbsp;User</strong> - I'm available to join a project, activity, or startup</a></li>
	    <li><a href="#"><i class="fa fa-book"></i><strong>&nbsp;&nbsp;Project</strong> - I'd like someone to join my not-for profit (or TBD) activity/project</a></li>
	    <li><a href="#"><i class="fa fa-power-off"></i><strong>&nbsp;&nbsp;Startup</strong> - I'd like someone to join my for-profit activity/startup</a></li>
	  </ul>
	</div>
	
	<!--Submit a post
	Contact
	-->

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h2 class="panel-title">View</h2>
	  </div>
	  <div class="panel-body">
		  <p>To view previously submitted profiles, please choose an option below:</p>
	
			<p><a href="/users"><i class="fa fa-user-plus"></i><strong>&nbsp;Users</strong></a></p>

		  <p><a href="/projects"><i class="fa fa-book"></i><strong>&nbsp;&nbsp;Projects</strong></a></p>

		  <p><a href="/startups"><i class="fa fa-power-off"></i><strong>&nbsp;&nbsp;Startups</strong></a></p>
	  </div>
	</div>
</div>
